body {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding: 120px 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/*Header*/

.header-container {
  display: flex;
}

.nav-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-right: 76px;
}

.border-botoom-of-header {
  border-bottom: 1px solid #e7e9fc;
}

.iris-color {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
}

.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.address-container {
  display: flex;
  gap: 40px;
}

.address:hover,
.nav:hover {
  color: #404bbf;
}

.address:focus,
.nav:focus {
  color: #404bbf;
}

/*Main
Title*/

.title-section {
  background-color: #2e2f42;
  padding: 188px 0;
}

.title-text {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  margin: auto;
  margin-bottom: 48px;
}

.title-button {
  background: #4d5ae5;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: 0;
  margin: auto;
  min-width: 169px;
}

.title-button:hover {
  background-color: #404bbf;
}

.title-button:focus {
  background-color: #404bbf;
}

/*solution list*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.names {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.paragraph-list {
  display: flex;
  gap: 24px;
}

.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.paragraph-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  flex-basis: calc((100% - 72px) / 4);
}

/*Team*/

.team-section {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.header-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}

.person-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.proffession {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.persons-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 0;
}

.persons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
}

.persons-container-list {
  display: flex;
  gap: 24px;
}

/*Portfolio*/

.portfolio-header {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.lower-text-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.card-container-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  margin-top: 72px;
}

.card-container-item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
}

/*Footer*/

.footer {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #2e2f42;
  padding: 100px 0;
}

.studio {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;

  max-width: 264px;
}

.footer-container {
  width: 264px;
}
